@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-midnight: #121063;
  --color-cloudy: #45576c;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-extralightgray: #f3f3f3;
  --color-bluesky : oklch(0.771 0.125 245.382);
  --color-tanorange : oklch(0.66 0.155 53.488);
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

.bg-hero {
  background-image: url(../../public/images/IMG_6724.jpg)


}
